body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: rgb(255, 24, 24);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: solid 2px #FFCC00;

}

.banner img {
    width: 100%;
    height: auto;
    margin-top: 45px;
}

.section1 {
    align-items: left;
     padding-bottom: 5px;
}

.layout {
    width: 960px;
    height: auto;
  
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

.grid1 img {
    width: 25%;
    float: left;
    padding-right: 10px;
}

.grid2 img {
    width: 25%;
    float: left;
    padding-right: 10px;
}

.grid3 img {
    width: 25%;
    float: left;
    padding-right: 10px;
}

.grid4 img {
    width: 25%;
    float: left;
    padding-right: 10px;
}

.grid h3 {
    width: 100px;
    flex-direction: row;
}

.grid1 h3 {
    margin-top: 0px;
    margin-bottom: 1px;
    color: red;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    
}
.grid1 p {
    margin-top: 0px;
    font-size: 16px;
    line-height: 24px;
}

.grid2 h3 {
    margin-top: 0px;
    margin-bottom: 1px;
    color: red;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    
}
.grid2 p {
    margin-top: 0px;
    font-size: 16px;
    line-height: 24px;
}

.grid3 h3 {
    margin-top: 0px;
    margin-bottom: 1px;
    color: red;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    
}
.grid3 p {
    margin-top: 0px;
    font-size: 16px;
    line-height: 24px;
}

.grid4 h3 {
    margin-top: 0px;
    margin-bottom: 1px;
    color: red;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    
}
.grid4 p {
    margin-top: 0px;
    font-size: 16px;
    line-height: 24px;
}

footer {
    background-color: #999999;
    color: white;
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 0;
    width: 100%;
}
